@media print{
body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000;}

#header-top{display:none;}
#header-bottom{display:none;}
#printChartText{display:none;}

#printview{
	font-size:100%;
	width: 300px;
	height: 900px;
}


}
#top-shadow {
	width: 0px;
	height: 0px;

}
#ColorcodeConverterForm input, #ColorcodeConverterForm label{
	padding: 5px;
	margin: 4px;
	display: inline;
}
#kep{
	width: 50px;
}
#printview{
	text-align: center;
	width: 400px;
	/*font-size:70%;*/
	
}
#prinview h1{
	 text-align: center;
}

#printviewtable {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
#printviewtable th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
#printviewtable th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
#printviewtable th a.asc:after {
	content: ' ⇣';
}
#printviewtable th a.desc:after {
	content: ' ⇡';
}
#printviewtable tr td {
	padding: 2px;
/*	text-align: left;
	vertical-align: top;*/
	border-bottom:1px solid #ddd;
}
/*table tr:nth-child(even) {
	background: #f9f9f9;
}*/
#printviewtable td.actions {
	text-align: center;
	white-space: nowrap;
}
#printviewtable table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}